<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>com.project.control.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/index.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>com.project.filter.Filter_Encoding</filter-class>
    <init-param>
      <param-name>kind</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>shop</servlet-name>
    <servlet-class>com.project.control.ShopController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shop</servlet-name>
    <url-pattern>/shop/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>shopqnacomments</servlet-name>
    <servlet-class>com.project.control.ShopCommentsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shopqnacomments</servlet-name>
    <url-pattern>/shopqnacomments/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>indexadmin</servlet-name>
    <servlet-class>com.project.control.IndexAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexadmin</servlet-name>
    <url-pattern>/admin.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>manage</servlet-name>
  	<servlet-class>com.project.control.ManageController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>manage</servlet-name>
  	<url-pattern>/admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>comments</servlet-name>
  	<servlet-class>com.project.control.CommentsController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>comments</servlet-name>
  	<url-pattern>/comments/*</url-pattern>
  </servlet-mapping>
	
</web-app>